{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@open-wc",
    "prettier",
    "plugin:lit-a11y/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "lit-a11y"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "import/no-unresolved": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ]
  }
}
